.uploads-container {
    width: 40%;
    margin: 30px;
}

.images-container {
    width: 40%;
    margin: 30px;
}

.container {
    width: 100%;
    float: left;
}

.upload-image {
    width: 80%;
    height: auto;
    margin-left: 10%;
}

.upload-image-for-details {
    width: 30%;
    height: auto;
}

.image {
   height: 200px;
   width: auto;
   margin: 20px; 
}