.uploads-container {
    display: inline-block;
    width: 20%;
    margin: 30px;
}

.images-container {
    display: inline-block;
    width: 70%;
    margin: 30px;
    vertical-align: top;
}

.container {
    width: 100%;
    float: left;
}

.upload-image {
    width: 80%;
    height: auto;
    margin-left: 10%;
}

.upload-image-for-details {
    width: 30%;
    height: auto;
}

.image {
   height: 300px;
   width: auto;
   margin: 10px; 
}

.post {
    float: none;
    display: inline-block;
}

.title {
    /* float: left; */
    margin-left: 0;
}

.content {
    /* float: left; */
}